/*Cores*/
:root{
    --AzulForte:#2b2d42;
    --AzulFraco:#8d99Ae;
    --Branco:#EDF2f4;
    --vermelhoFraco:#ef4155;
    --VermelhoFOrte:#d90429;
}
/*End Cores*/

/*Fonts*/
@font-face {
    font-family: Fortune;
    src: url('fortune/Fortune.otf');
}
@font-face {
    font-family: Futuristic;
    src: url('Futuristic\ Stylish.otf');
}
/*End Fonts*/

body{
    margin: 0 auto;
}
/*Hearder*/
header{
    width: 100%;
    height: 70px;
    background-color: var(--AzulForte);
    color: var(--VermelhoFOrte);
}header img{
    margin-top: 5px;
    height: 60px;
    margin-left: 5px;
    width: 10%;
    border-radius: 10px;
    float: left;
}header h1{
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 40px;
    font-family: futuristic;
}
/*End Header*/
/*nav*/
 nav{
    width: 100%;
}  ul{
    list-style: none;
    font-size: 20px;
} li{
    float: left;
    margin-right: 45px;
    margin-left:-30px ;
    margin-top: -20px;
} li #es{
    float: right;
    margin-right: 10px;
} li a{
    text-decoration: none;
    color: black;
} li a:hover{
    color: var(--Branco);
}li button{
    border: none;
    background-color: #0000;
    height: 40px;
    width: 100%;
    color: black;

}li button:hover{
    background-color: var(--AzulForte);
    color: white;
}
/*End nav*/

/*Produtos*/
#Produtos{
    width: 100%;
    height: 450px;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--AzulFraco);
    text-align: center;
    
}#Produtos #content{
    height: 270px;
    width: 20%;
    margin-top: 0px;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}#Produtos #content1{
    height: 270px;
    width: 20%;
    margin-top: 90px;
    justify-content: space-around;
    text-align: center;
}#Produtos #conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}#Produtos #content #img-content{
    width: 100%;
    height:150px;
    border-radius: 15px;
}#Produtos #content1 #img-content{
    width: 100%;
    height:150px;
    border-radius: 15px;
}#Produtos h2{
    margin-top: 10px;    
    font-family: fortune;
    font-size: 30px;
}#Produtos button{
    height: 30px;
    width: 50%;
    border-radius: 50px;
    border: none;
    background-color: var(--VermelhoFOrte);
}#Produtos button:hover{
    background-color: var(--vermelhoFraco);
}

/*End produtos*/




/*Footer*/

footer{
    width: 100%;
    height: 30px;
    background-color: var(--AzulForte);
}footer nav{
    width: 100%;
} footer ul{
    list-style: none;
    font-size: 20px;
}footer li{
    float: left;
    margin-right: 25px;
    margin-left:-5px ;
    margin-top: 5px;
}footer li #es{
    float: right;
    margin-right: 10px;
}footer li a{
    text-decoration: none;
    color: black;
}footer li a:hover{
    color: var(--Branco);
}
/* End footer*/