/*Cores*/
:root{
    --AzulForte:#1e1e20;
    --AzulFraco:#1e1e20;
    --Branco:rgb(117, 114, 114);
    --vermelhoFraco:#7b63ff;
    --VermelhoFOrte:#4e409d;
}
/*End Cores*/

/*Fonts*/
@font-face {
    font-family: Fortune;
    src: url('fortune/Fortune.otf');
}
@font-face {
    font-family: Futuristic;
    src: url('Futuristic\ Stylish.otf');
}
/*End Fonts*/

body{
    margin: 0 auto;
    background-color: rgb(203, 200, 200);
}
/*Hearder*/
header{
    width: 100%;
    height: 100px;
    background-color: var(--AzulForte);
    color: var(--VermelhoFOrte);
}header img{
    margin-top: 15px;
    height: 60px;
    margin-left: 5px;
    width: 10%;
    border-radius: 10px;
    float: left;
}header h1{
    float: left;
    margin-left: 10px;
    margin-top: 25px;
    font-size: 40px;
    font-family: futuristic;
}
/*End Header*/
/*nav*/
 nav{
    width: 100%;
}  ul{
    list-style: none;
    font-size: 20px;
} li{
    float: left;
    margin-right: 45px;
    margin-left:-30px ;
    margin-top: -20px;
} li #es{
    float: right;
    margin-right: 10px;
} li a{
    text-decoration: none;
    color: black;
} li a:hover{
    color: var(--Branco);
}li button{
    border: none;
    background-color: #0000;
    height: 40px;
    width: 100%;
    color: black;

}li button:hover{
    background-color: var(--AzulForte);
    color: white;
}



/*End nav*/
/*Main*/
main{
    width: 100%;
    margin: 0 auto;
    height: 370px;
    background-image: url('2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}main #main-text{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    
}

/*End Main*/





/*Quem somos*/
#Participantes{
    width: 100%;
    height: 550px;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--AzulFraco);
    text-align: center;
    color: white;
}#Participantes #content{
    height: 270px;
    width: 20%;
    margin-top: 0px;
    justify-content: space-around;
    text-align: center;
}#Participantes #content1{
    height: 270px;
    width: 20%;
    margin-top: 90px;
    justify-content: space-around;
    text-align: center;
}#Participantes #conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}#Participantes #content #img-content{
    width: 80%;
    height:250px;
    border-radius: 15px;
}#Participantes #content1 #img-content{
    width: 80%;
    height:250px;
    border-radius: 15px;
}#Participantes h2{
    margin-top: 10px;    
    font-family: fortune;
    font-size: 30px;
}#Participantes span{
    width: 120%;
    border: 6px solid var(--VermelhoFOrte);
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

/*End Quem somos*/



/*Footer*/

footer{
    width: 100%;
    height: 30px;
    background-color: var(--AzulForte);
}footer nav{
    width: 100%;
} footer ul{
    list-style: none;
    font-size: 20px;
}footer li{
    float: left;
    margin-right: 25px;
    margin-left:-5px ;
    margin-top: 5px;
}footer li #es{
    float: right;
    margin-right: 10px;
}footer li a{
    text-decoration: none;
    color: black;
}footer li a:hover{
    color: var(--Branco);
}
/* End footer*/