/*Cores*/
:root{
    --AzulForte:#2b2d42;
    --AzulFraco:#8d99Ae;
    --Branco:#EDF2f4;
    --vermelhoFraco:#EF233c;
    --VermelhoFOrte:#d90429;
}
/*End Cores*/

/*Fonts*/
@font-face {
    font-family: Fortune;
    src: url('fortune/Fortune.otf');
}
@font-face {
    font-family: Futuristic;
    src: url('Futuristic\ Stylish.otf');
}
/*End Fonts*/

body{
    margin: 0 auto;
}
/*Hearder*/
header{
    width: 100%;
    height: 70px;
    background-color: var(--AzulForte);
    color: var(--VermelhoFOrte);
}header img{
    margin-top: 5px;
    height: 60px;
    margin-left: 5px;
    width: 10%;
    border-radius: 10px;
    float: left;
}header h1{
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 40px;
    font-family: futuristic;
}
/*End Header*/

/*Main*/
main{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    height: 400px;
    background-color: var(--Branco);
    margin-top: -100px;
    justify-content: space-around;

}main #div-text{
    width: 30%;
    height: 300px;
    margin-left: 30px;
    margin-top: 40px;
}main #img-main{
    width: 100%;
    height: 300px;
    margin-left: 100px;
    margin-right: 40px;
    margin-top: 40px;
    box-shadow: 15px 10px 5px black;
}
/*End Main*/

/*Sobre*/

#sobre{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--AzulFraco);

}#sobre #content{
    height: 270px;
    width: 20%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}#sobre #content #img-content{
    width: 100%;
    height:150px;
    border-radius: 15px;
}

/*End sobre*/

/*Acesso*/
#acessar{
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
#acessar #img-acessar{
    width: 50%;
    height: 300px;
    margin-top: 20px;
    margin-left: -10px;
    box-shadow: -15px 10px 5px  black;
}
/*Cadastro*/
#cadastro{
    width: 23%;
    height: 320px;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--Branco);
}#cadastro form{
    
}#cadastro form input{
    height: 20px;
    width: 70%;
    margin-top: 25px;
    border: none;
    background-color: #0000;
    border-bottom: #2b2d42 solid 2px;
}#cadastro form button{
    height: 40px;
    width: 60%;
    border-radius: 6px;
    margin-top: 35px;
    background-color: var(--vermelhoFraco);
    border: none;
    color: white;
}#cadastro form button:hover{
    background-color: var(--VermelhoFOrte);
    color: black;
}
/*End Cadastro*/
/*End Acesso*/

/*Quem somos*/
#QuemSomos{
    width: 100%;
    height: 350px;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--AzulFraco);
    text-align: center;

}#QuemSomos #content{
    height: 270px;
    width: 20%;
    margin-top: 0px;
    justify-content: space-around;
    text-align: center;
}#QuemSomos #content1{
    height: 270px;
    width: 20%;
    margin-top: 90px;
    justify-content: space-around;
    text-align: center;
}#QuemSomos #conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}#QuemSomos #content #img-content{
    width: 100%;
    height:150px;
    border-radius: 15px;
}#QuemSomos #content1 #img-content{
    width: 100%;
    height:150px;
    border-radius: 15px;
}#QuemSomos h1{
    margin-top: -10px;    
    font-family: fortune;
    font-size: 60px;
}




/*End Quem somos*/

/*Footer*/

footer{
    width: 100%;
    height: 30px;
    background-color: var(--AzulForte);
}nav{
    width: 100%;
}ul{
    list-style: none;
    font-size: 20px;
}li{
    float: left;
    margin-right: 25px;
    margin-left:-5px ;
    margin-top: 5px;
}li #es{
    float: right;
    margin-right: 10px;
}li a{
    text-decoration: none;
    color: black;
}li a:hover{
    color: var(--Branco);
}
/* End footer*/